{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<div class="container">
  <h1>Takedown Statistics:</h1>
  <div class="row">
    <div class="col-md-3">
      <h3>Overall statistics</h3>
      <ul>
        <li><strong>Average number of takedowns: </strong>{{ avgTakedowns }}</li>
        <li><strong>Average penalty score: </strong>{{ avgPenalty }}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>User Information</h3>
      {{ wtf.quick_form(emailInput) }}
      <br>
      {% if user[0] %}
      <ul>
        <li><strong>Preferred name: </strong>{{ user[0] }}</li>
        <li><strong>Number of takedowns: </strong>{{ user[1] }}</li>
        <li><strong>Number of penalties: </strong>{{ user[2] }}</li>
      </ul>
      <h5>Penalty Details</h5>
      <p><i>Note: Positive numbers are penalties, negative numbers are credits</i></p>
      {% if user[3] != [] %}
      <ol>
        {% for penalty in user[3] %}
        <li>
          <ul>
            <li><strong>Timestamp: </strong>{{ penalty[0] }}</li>
            <li><strong>Penalty size: </strong>{{ penalty[1] }}</li>
            <li><strong>Reason: </strong>{{ penalty[2] }}</li>
          </ul>
          <br>
          {% endfor %}
        </li>
      </ol>
      {% else %}
      <p>No penalties!</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
